- var data = require('../app.config.json');

doctype html
html(lang='en')
  head 
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TZDLZX82');
    title #{data.title} - #{data.description}
    meta(charset='utf-8')
    meta(name='description' content=data.description)
    meta(name='image' content=data.url + data.logo) 
    meta(itemprop='name' content=data.title)
    meta(itemprop='description' content=data.description)
    meta(itemprop='image' content=data.url + data.logo) 
    meta(name='twitter:card' content='summary')
    meta(name='twitter:title' content=data.title)
    meta(name='twitter:description' content=data.description)
    meta(name='twitter:site' content='@felipefialho_')
    meta(name='twitter:creator' content='@felipefialho_')
    meta(name='twitter:image:src' content=data.url + data.logo) 
    meta(name='og:title' content=data.title)
    meta(name='og:description' content=data.description)
    meta(name='og:image' content=data.url + data.logo)
    meta(name='og:url' content=data.url)
    meta(name='og:site_name' content=data.title)
    meta(name='og:locale' content='en')
    meta(name='og:type' content='website')
    meta(http-equiv='X-UA-Compatible' content='IE=edge') 
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=5') 
    meta(name='theme-color' content=data.theme_color)
    link(rel='shortcut icon' type='image/favicon' href='favicon.ico')   
    style.
      body {
        visibility: hidden;
      } 
  body    
    noscript 
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TZDLZX82' height='0' width='0' style='display:none;visibility:hidden')
    section.header
      .piano
        .piano-key
          .piano-key__white(data-key='20' data-note='1C')
          .piano-key__black(data-key='81' data-note='1Cs')
        .piano-key
          .piano-key__white(data-key='65' data-note='1D')
          .piano-key__black(data-key='87' data-note='1Ds')
        .piano-key
          .piano-key__white(data-key='83' data-note='1E')
        .piano-key
          .piano-key__white(data-key='68' data-note='1F')
          .piano-key__black(data-key='82' data-note='1Fs')
        .piano-key
          .piano-key__white(data-key='70' data-note='1G')
          .piano-key__black(data-key='84' data-note='1Gs')
        .piano-key
          .piano-key__white(data-key='71' data-note='2A')
          .piano-key__black(data-key='89' data-note='2As')
        .piano-key
          .piano-key__white(data-key='72' data-note='2B')
        .piano-key
          .piano-key__white(data-key='74' data-note='2C')
          .piano-key__black(data-key='73' data-note='2Cs')
        .piano-key
          .piano-key__white(data-key='75' data-note='2D')
          .piano-key__black(data-key='79' data-note='2Ds')
        .piano-key
          .piano-key__white(data-key='76' data-note='2E')
        .piano-key
          .piano-key__white(data-key='186' data-note='2F')
          .piano-key__black(data-key='219' data-note='2Fs')
        .piano-key
          .piano-key__white(data-key='222' data-note='2G')
          .piano-key__black(data-key='221' data-note='2Gs')
        .piano-key
          .piano-key__white(data-key='220' data-note='3A')
          .piano-key__black(data-key='13' data-note='3As')
        .piano-key
          .piano-key__white(data-key='37' data-note='3B') 
    main.main 
      .container
        .content
          h1.title #{data.title}
          h2.subtitle #{data.description} 😎
          a.github(href='https://github.com/felipefialho/piano') 
            img(src='https://img.shields.io/github/stars/felipefialho/piano.svg?style=for-the-badge&label=Github' alt='Stars') 
          p.description The better way to play the piano is using a touch device. You can also use your keyboard or mouse to play.  
          p.description Using the keyboard, the first key is "caps lock" and the sequence of keys is the same of the piano.
    footer.footer(role='dialog') 
      p.footer__description 
        | Made with ❤ by 
        a.footer__link(href='https://twitter.com/felipefialho_' target='_blank' rel='noopener noreferrer') Felipe Fialho
